


.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    /*
    Challenge: 
    Design the search field according to the spec
    */

    display: block;
    width: 400px;
    line-height: 24px;

    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    /*
    Challenge:
    Style the button according to the provided design.
    Hint: Use padding, font-size, border-radius, border, and background
    
    PS: 
    The real background is #f8f9fa but it is failing our contrast check. 
    So here's the background color we will use: #dfe1e5
    */

    display: block;
    width: 180px; /* Not really needed in this specific scenario because the button already has a pre-determined width */
    background: #dfe1e5;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border: None;
    border-radius: 10px;

    font-size: 18px;
}
