/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: rgb(50, 149, 118);            /* red, blue, yellow, etc */
    color: rgb(14, 24, 42);                /* red, blue, yellow, etc */
    font-size: 36px;                            /* 0px - 100px and beyond */
    font-weight: bold;                       /* lighter, normal, bold  */
    text-align: center;                          /* left, center or right  */ 
    margin-top: 20px;                            /* From 0px and upwards   */
}





