.card {
    font-family: Tahoma;
    background-color: lightgray;
    color: #222222;
    display: block;
    width: 300px;
    
    /* Think of margins as adding spaces outside of the container */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Then, padding can be thought of as adding spaces along the edges within the container */
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    /* Additionally, borders can be thought of as the modification of space between the padding and margin */
    border: 4px solid #222222;
    border-radius: 20px;
}

/*
The box model
1. Margin
2. Border
3. Padding
4. Content
*/